/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin:0;
}

a:link {
  color: #420606;
  text-decoration: none;
}


ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.font {

    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 32px;
}

.font2 {
    font-family: 'Georgia', serif;
    color: #666;
    font-size: 30px;

}

.buttonfont
{
    font-family: 'Georgia', serif;
    color: #4b0b0b;
    font-size: 20px;

}   

.font1 {
    font-family: 'Times New Roman', serif;
    color: #999;
    font-size: 20px;

}
.grid-container {
    padding-top: 30px;
    display: grid;
    grid-template-columns: (1fr);
    align-items: center;
}

.grid-item {
    text-align: center;
    display: grid;
    align-items: center;
}

.textover { 
    padding-left: 90px;
    display: grid;


}

.grid-item2 {
    text-align: right;
    display: grid;
    align-items: center;
    padding-right: 40px;
    
}

.navbar {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #430404;
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);

}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}

.nav-links {
    display: grid;
    grid-auto-flow: column; 
    list-style: none; 
    gap: 1.5rem;
    justify-content: center; 
    
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    place-items: center;
    padding-top: 30px;
}

.image-grid img {
    

    width: 60%;
    height: 400px;
    object-fit: cover;
    aspect-ratio: 1/1 ;
    border-radius: 100px;
}

.text-block {
    padding-top: 30px;
    display: grid;
    grid-template-columns: (1fr);
    align-items: center;
}

.grid-item3 {
    text-align: center;
    display: grid;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}



.button-container button {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
    display: grid;
    align-items: center;
    cursor: pointer;
}


.button {
    
    padding: 20px;
    display: grid;
    place-items: center;  
    color: #420606;
    gap: 12px;
}



.font2 {
    font-family: 'Georgia', serif;
    color: #420606;
    font-size: 50px;
}

.grid-item4 {
    text-align: end;
    display: grid;
    align-items: end;
    padding-left: 100px;
    padding-right: 40px;
    margin-top: 30px;
}

.font3 {
    font-family: 'Georgia', serif;
    color: #420606;
    font-size: 14.1px;
}

.grid-item5 {
    text-align: center;
    display: grid;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
}


.image-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    place-items: center;
    padding-top: 30px;
    margin-left: 14px;
    margin-bottom: 30px;
}

.image-grid2 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 1/1 ;
    border-radius: 50px;
}

.image-with-caption {
  display: grid;
  justify-items: center; 
  gap: 4px; 
  grid-template-columns: 1fr;
  max-width: 300px;
  margin: 0 auto; 
}

.caption {

  font-size: 3.2em;
  color: #555;
  text-align: center;
}

.why-it-matters {
    font-size: 2em;
    color:#420606 ;
    text-align: center;
}

.why-it-matters2 {
    font-size: 2em;
    color:#666 ;
    text-align: center;
    padding-top: 10px;
}




.bio { 
    font-size: 1.2em;
    color: #777;
    text-align: center;
    margin-bottom: 10px;
}


.image-with-caption img {
    max-width: 100%;
    height: auto;
}





@media screen and (max-width: 430px) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;  
    row-gap: 0.6rem;
    padding: 1rem;
    text-align: center;         
  }

  .grid-item,
  .grid-item2,
  .textover {
    justify-self: center;        
    margin: 0;
  }

  .font {
    font-size: 2.5rem;          
    line-height: 1.1;
  }

  .font2 {
    font-size: 1.6rem;
  }

  .font2 {
    font-size: 1.1rem;
  }

  .font{
    font-size: 0.95rem;
  }

  header h4 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 430px) {

  .navbar {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .nav-links {
    grid-auto-flow: row;
    justify-content: center;
  }

}

